.app__screen {
	width: 1100px;
	
	display: flex;

	margin: 50px auto 0;
	padding: 0 10px 10px;

	position: relative;
}

.app__left {
	position: absolute;
}

.app__left__side {
	position: fixed;

	width: 250px;
	height: 100%;
	
	background: white;
	
	margin-right: 30px;
	padding-top: 10px;

	border-left: 1px solid rgba(65, 65, 65, 0.2);
	border-right: 1px solid rgba(65, 65, 65, 0.2);
}

.app__right__side {
	width: 100%;

	margin-left: 260px;
	padding-top: 10px;
}

@media screen and (max-width: 375px) { 
	.app__screen {
		width: 375px;
		
		display: flex;

		margin: 50px auto 0;
		padding: 0;

		position: relative;
	}

	.app__left, .app__left__side {
		display: none;
	}

	.app__right__side {
		width: 375px;

		margin-left: 0px;
		padding-top: 10px;
	}
}