.body__description {
	display: flex;

	margin-bottom: 10px;

	font-size: 18px;
	
	margin-left: 20px;
}

.field__description__name {
	width: 150px;
	margin-right: 15px;
	color: #828282;
}

.field__description__value {
	width: 400px;
}

.body__information {
	padding: 0 10px;
}

.field__heading {
	font-size: 20px;
	font-weight: 600;
	padding: 0 0 10px 0;
}

.school__field__border {
	width: 450px;
	border-bottom: 1px solid lightgray;
}

.body__friends__list {
	width: 870px;

	display: flex;
	flex-wrap: wrap;
}

.body__friend__name {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-size: 20px;
}

.body__friends__item {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 200px;
	
	margin: 0 10px 10px 0;

	background: white;
}

.body__friends__item:hover {
	background: #edf0f9;
}

.body__friends__photo {
	width: 200px;
	height: 200px;
}

.body__friends__online {
	display: flex;
	justify-content: center;

	margin: 5px 0 5px;
}

.body__friends__online__dot {
	width: 15px;
	height: 15px;

	border-radius: 50%;
	
	margin-right: 5px;

	background: #4caf50;
}

.body__friends__offline__dot {
	width: 15px;
	height: 15px;

	border-radius: 50%;
	
	margin-right: 5px;

	background: #808080;
}

.body__friends__last__seen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin-bottom: 15px;
}

.body__platform {
	width: 15px;
	height: 15px;

	margin-left: 10px;
}

.body__friends__more {
	height: 36px;

	overflow: hidden;
	border: 1px solid red;
}

.body__friends__more__active {
	width: inherit;
	height: 100px;
}

.body__friends__more__btn {
	width: 100%;
	height: 36px;

	border: none; 
	
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
	
	color: #fff;
	display:block;

	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;

	padding: 8px 16px;
	margin: 0;

	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: background-color 0.1s linear;

	background-color: rgb( 86, 170, 251 );

	cursor: pointer;
}

.body__friends__more__btn:hover {
	background-color: rgb( 75, 183, 141 );
}


.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown__content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown__active {
	position: relative;
	display: block;
}

.dropdown__content__active {
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 0 10px;
	z-index: 1;
}

.friend__more__info {
	display: flex;
	justify-content: center;
	padding: 5px;
}

.friend__more__info strong {
	margin-right: 5px;
}

.body__groups__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 200px;
	
	margin: 0 10px 10px 0;

	background: white;
}

.body__group__name {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;

	font-size: 20px;

	margin-bottom: 5px;
	padding: 5px;
}

.body__group__photo {
	width: 200px;
	height: 200px;
}

.group__more__info {
	display: flex;
	justify-content: center;
	padding: 5px;
}

.group__more__info strong {
	margin-right: 5px;
}

.body__groups__list {
	width: 870px;

	display: flex;
	flex-wrap: wrap;
}

.body__posts {
	margin-left: 50px;
}

.body__post__item {
	width: 510px;
	margin-bottom: 15px;

	background: white;
	
	border: 1px solid rgba(65, 65, 65, 0.2);
}

.body__post__item__header {
	display: flex;
	height: 50px;

	padding: 10px;
}

.body__post__item__header img {
	width: 50px;
	height: 50px;

	padding: 0 15px 0 5px;

	border-radius: 50%;
}

.body__post__group__description {
	height: 50px;
}

.body__post__group__title {
	font-weight: 600;
	font-size: 16px;
	color: #2a5885;
}

.post__pinned {
	margin-left: 5px;
	font-size: 14px;
	font-weight: 300;
	color: #959595;
}

.body__post__group__date {
	font-weight: 600;
	font-size: 12px;
	color: #959595;

	margin-top: 5px;
}

.body__post__body {
	padding-left: 5px;
}


.body__post__body__text {
	font-size: 17px;
	font-weight: 500;

	padding-left: 10px;
	margin-bottom: 10px;
}

.body__post__body__photo img {
	width: 500px;
}

.body__post__activity {
	display: flex;
	justify-content: space-between;
	width: 500px;

	padding: 5px 5px 5px 20px;
	margin: 5px 0 0 5px;

	box-sizing: border-box;
	border-top: 1px solid rgba(100, 100, 100, 0.2)
}

.body__post__activity__left {
	display: flex;
}

.body__post__activity__like {
	display: flex;
	align-items: center;
	
	margin-right: 20px;

	font-size: 18px;
	font-weight: 500;
}

.body__post__activity__like img {
	width: 20px;
	height: 20px;

	padding-right: 5px;
	margin-bottom: 2px;
}

.body__err__page {
	text-align: center;
}

.body__err__page img {
	margin-top: 60px;
	width: 300px;
}

.body__no__information {
	display: flex;
	align-items: center;
	
	background: rgba(255, 63, 50, 0.6);
	
	box-sizing: border-box;
	
	border-radius: 10px;

	font-size: 26px;
	font-weight: 500;
	text-align: center;
	font-family: sans-serif;

	margin-left: 20px;
}

.body__no__information__text {
	width: inherit;
	height: inherit;
	width: 660px;
	color: #ffffff;
}

.body__no__information__icon {
	width: 100px;
	height: 100px;

	border-radius: 10px;

	background: none;
}

.body__no__information__icon img {
	width: 100px;
	height: 100px;

	margin: 0 10px;
}

@media screen and (max-width: 375px) { 
	.field__heading {
		font-size: 18px;
		font-weight: 600;
		padding: 0 0 10px 0;
	}

	.body__description {
		display: flex;

		margin-bottom: 10px;

		font-size: 14px;
		
		margin-left: 10px;
	}

	.field__description__value {
		width: 260px;
	}

	.field__description__name {
		width: 90px;
		margin: 0 10px;
		color: #828282;
	}

	.body__friends__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		width: 370px;

		padding-left: 5px;
	}

	.body__friends__item {
		display: flex;
		flex-direction: column;
		justify-content: center;

		width: 165px;
		
		margin: 0 5px 5px 0;

		background: white;
	}

	.body__friends__photo {
		width: 165px;
		height: 165px;
	}

	.dropdown__content__active {
		display: flex;
		flex-direction: column;

		position: absolute;

		width: 165px;

		box-sizing: border-box;
		
		background-color: #f9f9f9;

		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

		padding: 0 10px;

		z-index: 1;
	}

	.friend__more__info {
		display: flex;
		justify-content: flex-start;

		width: 160px;

		padding: 5px;
		margin-left: 5px;

		word-break: break-all;
	}

	.friend__more__info strong {
		margin-right: 1px;
		word-break: normal;
	}

	.body__friend__name {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		font-size: 18px;
		margin-bottom: 5px;
	}

	.body__groups__list {
		width: 375px;

		display: flex;
		flex-wrap: wrap;

		box-sizing: border-box;

		padding-left: 15px;
	}

	.body__groups__item {
		display: flex;
		flex-direction: column;

		justify-content: center;
		align-items: center;

		width: 170px;

		background: #ffffff;
	}

	.body__group__photo {
		width: 165px;
		height: 165px;
	}
	
	.body__posts {
		margin-left: 0px;
	}

	.body__post__item {
		width: 355px;

		background: #ffffff;
		margin: 0 0 10px 8px;
		border: 1px solid rgba(65, 65, 65, 0.2);
	}

	.body__post__body__photo img {
		width: 348px;
		margin-bottom: 2px;
	}

	.body__post__activity {
		display: flex;
		justify-content: space-between;
		width: 355px;

		padding: 5px 5px 5px 20px;
		margin: 0;
	
		box-sizing: border-box;
		border-top: 1px solid rgba(100, 100, 100, 0.2)
	}
}
