.header__main {
	display: flex;
	position: fixed;

	height: 30px;
	width: 100%;

	top: 0; 

	padding: 10px;

	background-color: #56aafb;
	z-index: 1;
}

.header__head {

}

.header__main__title {
	display: flex;
	align-items: center;

	color: #ffffff;
	font-weight: 600;
	font-size: 22px;
	
	font-family: sans-serif;
	margin-left: 270px;
}

.header__main__title__secondary {
	font-size: 18px;
	margin-left: 15px;
}

.header__menu__not__active,
.header__menu__button, 
.header__menu__active,
.header__menu {
	display: none;
}

@media screen and (max-width: 375px) {
	.header__main__title {
		display: flex;
		align-items: center;

		color: #ffffff;
		font-weight: 600;
		font-size: 22px;
		
		font-family: sans-serif;
		margin-left: 10px;
	}

	.header__menu__button {
		display: block;

		width: 50px;
		height: 50px;

		margin-right: 25px;

		background: none;
		border: none;
		outline: none;
	}

	.header__menu__button img {
		width: 50px;
		height: 50px;
	}

	.header__menu__active {
		display: block;
		position: absolute;
		
		width: 100%;
		height: 215px;

		background: #ffffff;

		top: 50px;
		left: 0;
		
		overflow: hidden;

		transition: 0.5s;
	}

	.header__menu__not__active {
		display: block;
		position: absolute;

		width: 100%;
		height: 0px;
		
		top: 50px;
		left: 0;

		overflow: hidden;
		
		transition: 0.5s;
	}
}